<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/layouts/layout.html}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
   <title>CNC Contact Time</title>
</head>
<body>
<section layout:fragment="content">
    <div class="calc-body-bg ">
            <div class="calc-body-content" >
                <div class="calc-body-grid">
                    <div class="top-buttons-div">
                        Select/Enter Data
                    </div>
                    <div class="input-fields">
                        <div class="cycle-block-no">
                            <label>Cycle 1st line:
                                <input type='text' name='theinput' id='cycle-block-nr'>
                            </label>
                        </div>
                        <div class="cycle-block-no">
                            <label>Contact Time:
                                <input type='text' placeholder="Mins" name='theinput' id='theinput'>
                            </label>
                        </div>
                        <div class="cycle-block-no">
                            <label>M00 Z Coord:
                                <input type='text' name='theinput' id='theinput'>
                            </label>
                        </div>
                        <div class="cycle-block-no">
                            <label>M00 Z Coord:
                                <input type='text' name='theinput' id='theinput'>
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Internal Operation</label>
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button id="calc-btn" type="button">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="text-area-bg">
        <div class="text-area-gb--header">
            G-Code Viewer
        </div>
        <textarea></textarea>
    </div>
</section>
</body>
</html>