<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../templates/layouts/layout.html}">
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Tool Contact Time</title>
</head>
<body>
<section layout:fragment="content">
        <div class="greetings-disclaimer centered ">
            <div class="greetings-disclaimer-text">
                <form method="get" action="/calculator">
                    <h1>Warning!</h1>
                    <p>Please use this tool responsibly and always double check G-code before loading it into CNC. </p>
                    <p>This application has been heavily tested and </p>
                    <button type="submit">OK</button>
                </form>
            </div>
        </div>
</section>
</body>
</html>